@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"]:focus {
  outline: none;
  box-shadow: none;
            }

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  padding: 16.5px 14px;
}
